// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

:root {
  --jexcel_header_color: #000;
  --jexcel_header_color_highlighted: #000;
  --jexcel_header_background: #f3f3f3;
  --jexcel_header_background_highlighted: #dcdcdc;
  --jexcel_content_color: #000;
  --jexcel_content_color_highlighted: #000;
  --jexcel_content_background: #fff;
  --jexcel_content_background_highlighted: rgba(0,0,0,0.05);
  --jexcel_menu_background: #fff;
  --jexcel_menu_background_highlighted: #ebebeb;
  --jexcel_menu_color: #555;
  --jexcel_menu_color_highlighted: #555;
  --jexcel_menu_box_shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  --jexcel_border_color: #ccc;
  --jexcel_border_color_highlighted: #000;
  --active_color: #007aff;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid; }
    .border#{$infix}-end {      border-right: $border-width solid; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid; }
    .border#{$infix}-start {    border-left: $border-width solid; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-end-0 {    border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-start-0 {  border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color ;
      border-right: $border-width solid $border-color ;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color ;
      border-bottom: $border-width solid $border-color ;
    }
  }
}

.mapContainer {
  overflow: hidden;
  padding-top: 10px;
}

.map {
  /* height: calc(100vh - 240px); */
  height: calc(100vw / 12 * 6);
  border: solid 0.1em black;
}

/* https://www.yuu-diaryblog.com/2017/03/14/list-design/ を参考に設定 */
ol.userGuide {
  counter-reset: list;
  list-style-type: none;
  padding: 0;
}
ol.userGuide li{
  position: relative;
  line-height: 2em;
  margin: 7px 0 10px 40px;
  padding-left: 10px;
  border-bottom: solid 0.1em #cfe2ff;
}
ol.userGuide li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: -30px;
  width: 30px;
  height: 32px;
  background: #cfe2ff;
  text-align: center;
  font-weight: bold;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info-paragraph {
  background-color: #cff4fc;
}

.circle-figure {
  background: #cff4fc;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.nav-tabs .nav-item .nav-link {
  color: #000000;
  background-color: #ffffff;
}

.nav-tabs .nav-item .nav-link.active {
  color: #ffffff;
  background-color: #0d6efd;  
}

.modalDialog {
  border-color: #555;
  border-width: 0.1em;
  border-radius: 0.5em;
}

dialog {
  padding: 0em;
}
.innerDialog {
  padding: 1em;
}

.dl-inline {
  margin-bottom: 0em;
}
.dl-inline dt {
  float: left;
  clear: left;
  margin-right: 10px;
}
.dl-inline dd {
  margin-left: 0px;
  margin-bottom: 0em;
}
.dl-inline.same-width dt {
  width: 3em;
}

/* 印刷用ページ表示ボタンの装飾 */
.switch-label {
  display: flex;
  align-items: center;
}
#printPreviewBtn {
  position: absolute;
  width: 0;
  height: 0;
}
.switch-base {
  width: 40px;
  border-radius: 15px;
  height: 24px;
  background-color: #ddd;
}
.switch-title {
  /* margin-left: 0.5em; */
}
#printPreviewBtn:checked ~ .switch-base {
  background-color: rgb(219, 234, 254);
  transition: 0.1s;
}
.switch-circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #333333;
}
.toggle-switch {
  position: relative;
}
#printPreviewBtn:checked ~ .switch-circle {
  transform: translateX(100%);
  background-color: #003366;
}

.leaflet-contextmenu {
    display: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0.75em;
    background-color: #fff;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
    display: block;
    color: #222;
    font-size: medium;
    line-height: 20px;
    text-decoration: none;
    padding: 0.25em 0em 0.25em 0em;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: default;
    outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
    opacity: 0.5;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: #f4f4f4;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
    background-color: inherit;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.leaflet-contextmenu-icon {
    margin: 2px 8px 0 0;
    width: 16px;
    height: 16px;
    float: left;
    border: 0;
}

.leaflet-contextmenu-separator {
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}