<nav id="footer" class="navbar fixed-bottom border-top py-2 ps-4 d-print-none">
  <div class="container-fluid">
    <p class="flex-grow-1 fs-6">License:
      <a href="https://licenses.opensource.jp/MIT/MIT.html" target="_blank">MIT</a>
    </p>
    <div class="d-flex">
      <div class="px-4 border-x border-dark border-2">
        <img src="./assets/github-mark.svg" height="24">
        <a href="http://github.com/s-show/xy-latlng-to-map">このサイトのソースコード</a>
      </div>
      <% if (page == 'toppage') { %>
        <div class="ms-4 me-2">
          <img src="./assets/about.svg" height="24">
          <a href="about.html">このサイトについて</a>
        </div>
      <% } %>
    </div>
  </div>
</nav>
