<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="XY座標や緯度経度の示す場所にアイコンを追加したり、地図に半径を指定した円を表示したり、任意の地点間の距離を計測できるサイトです。">
<link rel="stylesheet" href="./css/style.scss">
<title>座標の地図表示と座標・緯度経度の変換 - <%= subtitle %></title>

