<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">目的別操作ガイド</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <details class="user-guide__details" name="userGuideDetails">
      <summary id="XYorLatLngToMarker" class="user-guide__title">XY座標または緯度経度のリストから一括してアイコンを追加する</summary>
      <ol class="user-guide__text">
        <li>使用するXY座標または緯度経度の詳細な情報を「データ詳細情報」の欄で選択します</li>
        <li>使用するXY座標または緯度経度をデータテーブルに入力するか貼り付け（右クリックメニュー）します</li>
        <li>「地図加工」タブの「アイコンの色」で色を選択します。アイコン同士を線で繋ぐ場合、「線の有無・色」で色を選択します。</li>
        <li>「地図加工」タブの「アイコンの一括追加」ボタンをクリックします</li>
      </ol>
    </details>
    <details class="user-guide__details" name="userGuideDetails">
      <summary id="addCircleAnyPoint" class="user-guide__title">地図の指定した場所に円を追加する</summary>
      <ol class="user-guide__text">
        <li>地図を動かして円を追加したい場所を表示します</li>
        <li>円を追加したい場所で右クリックして、表示されるメニューから「円を追加」をクリックします。円の線の色は、「地図加工」タブの「線の有無・色」で選択した色になります。</li>
      </ol>
    </details>
    <details class="user-guide__details" name="userGuideDetails">
      <summary id="addMarkerAnyPoint" class="user-guide__title">地図の指定した場所にアイコンを追加する</summary>
      <ol class="user-guide__text">
        <li>地図を動かしてアイコンを追加したい場所を表示します</li>
        <li>アイコンを追加したい場所で右クリックして、表示されるメニューから「アイコンを追加」をクリックします。アイコンの色は、「地図加工」タブの「アイコンの色」で選択した色になります。</li>
      </ol>
    </details>
    <details class="user-guide__details" name="userGuideDetails">
      <summary id="measureBetweenAnyPoint" class="user-guide__title">地図の任意の2点間の距離を計測する</summary>
      <ol class="user-guide__text">
        <li>地図を動かして距離を計測したい場所を表示します</li>
        <li>最初の計測地点で右クリックして表示されるメニューから「この地点からの距離を計測」をクリックします。</li>
        <li>2つ目の計測地点で右クリックして表示されるメニューから「この地点までの距離を計測」をクリックします。</li>
        <li>計測地点を増やしたい場合、上記の作業を繰り返してください。</li>
      </ol>
    </details>
    <details class="user-guide__details" name="userGuideDetails">
      <summary id="measureFromMarkerOrCircle" class="user-guide__title">アイコンや円の中心点からの距離を計測する</summary>
      <ol class="user-guide__text">
        <li>地図を動かして距離を計測したいアイコンや円を表示します</li>
        <li>最初の計測地点となるアイコン or 円を右クリックして表示されるメニューから「このアイコンからの距離を計測」or「円の中心からの距離を計測」をクリックします。</li>
        <li>2つ目の計測地点となるアイコン or 円を右クリックして表示されるメニューから「このアイコンまでの距離を計測」or「円の中心までの距離を計測」をクリックします。</li>
        <li>計測地点を増やしたい場合、上記の作業を繰り返してください。</li>
      </ol>
    </details>
    <details class="user-guide__details" name="userGuideDetails">
      <summary id="removeMarkerAndCircle" class="user-guide__title">アイコンや円を削除する</summary>
      <ol class="user-guide__text">
        <li>削除したいアイコンや円の上で右クリックします</li>
        <li>右クリックして表示されるメニューから「アイコンを削除」or「円を削除」をクリックします。</li>
      </ol>
    </details>
    <details class="user-guide__details" name="userGuideDetails">
      <summary id="convertXYLatLng" class="user-guide__title">XY座標 or 緯度経度を相互変換</summary>
      <ol class="user-guide__text">
        <li>変換したいデータの詳細な情報を「データ詳細情報」の欄で選択します</li>
        <li>変換したいデータをデータテーブルに入力するか貼り付けします</li>
        <li>「データ変換」タブで変換先のXY座標または緯度経度の詳細な情報を選択します</li>
        <li>「データ変換」タブの「変換」ボタンをクリックします</li>
        <li>変換後のデータは、テーブル上で右クリックして「コピー」を選択すればコピーできます</li>
        <li>また、「CSV形式でダウンロード」をクリックすれば変換前後のデータをダウンロードできます</li>
      </ol>
    </details>
  </div>
</div>
