<dialog id="inputDiameter" class="dialog dialog--modal">
  <div class="dialog__inner">
    <form action="">
      <input id="latitude" hidden>
      <input id="longitude" hidden>
      <div class="mt-2 mb-3">
        <label for="radius">円の半径を入力 (m)</label>
        <input type="number" name="radius" id="radius" class="form-control mt-1" value="0" autofocus>
      </div>
      <div class="mt-2 mb-2">
        <button id="addCircleToMap" type="submit" class="btn btn-primary">追加</button>
        <button id="cancelAddCircle" type="" class="btn btn-secondary">キャンセル</button>
      </div>
    </form>
  </div>
</dialog>
