<fieldset class="row align-items-start px-2">
  <label class="py-0 col-4 col-form-label" for=<%= select_id %>>XY座標の系番号</label>
  <div class="col-8">
    <select id=<%= select_id%> class="form-select border border-2 border-dark-subtle"
      aria-label="Default select">
      <!-- フォーム初期化の際にXY座標を選択するので、組み合わせ不可の選択肢を使用不可にする -->
      <option value="0" disabled>緯度経度用の選択肢</option>
      <option selected value="1">1系</option>
      <option value="2">2系</option>
      <option value="3">3系</option>
      <option value="4">4系</option>
      <option value="5">5系</option>
      <option value="6">6系</option>
      <option value="7">7系</option>
      <option value="8">8系</option>
      <option value="9">9系</option>
      <option value="10">10系</option>
      <option value="11">11系</option>
      <option value="12">12系</option>
      <option value="13">13系</option>
      <option value="14">14系</option>
      <option value="15">15系</option>
      <option value="16">16系</option>
      <option value="17">17系</option>
      <option value="18">18系</option>
      <option value="19">19系</option>
    </select>
  </div>
</fieldset>
