<!DOCTYPE html>
<html lang="jp" data-bs-theme="light">

<head>
  <%- include("./partials/head.ejs", { subtitle: 'メインページ' }) %>
  <!-- APIキー未設定時は Google Maps を読み込まない（地理院地図のみで動作する） -->
  <% if (googleMapsApiKey) { %>
  <script async src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&loading=async"></script>
  <% } %>
</head>

<body>
  <%- include("./partials/header.ejs", { page: 'toppage' }) %>
    <div class="container-fluid content-wrapper-toppage">
      <div id="menu-column" class="" tabindex="-1" aria-labelledby="menu-column-label" popover>
        <div class="d-flex align-items-center justify-content-between">
          <h3 id="menu-column-label" class="mb-0">メニュー</h3>
          <button commandFor="menu-column" command="hide-popover" type="button" class="" aria-label="閉じる">×</button>
        </div>
        <div class="">
        <div id="data-information" class="p-2">
            <h3>データ詳細情報</h3>
            <%- include("./partials/dataTypeSelect.ejs", { dataType: 'source' }) %>
              <hr class="border-2">
              <%- include("./partials/geodeticSystem.ejs", { dataType: 'source' }) %>
                <%- include("./partials/geodeticSystemDialog.ejs") -%>
                  <hr class="border-2">
                  <%- include("./partials/zoneNoSelect.ejs", { select_id: "source-zone-no" }) %>
                    <%- include("./partials/zoneNoDialog.ejs") -%>
                      <hr class="border-2">
                      <h3 id="header-data-table" class="p-0">データテーブル</h3>
                      <div id="source-data-table" class="d-print-none"></div>
                      <p class="d-print-none">使用するデータを入力または貼り付けしてください。空白セルがある行は無視して処理します。右クリックからの貼り付けが成功しない場合、"ctrl-v"
                        で貼り付けしてください。</p>
                      <button id="clear-source-table-btn" type="button"
                        class="button button--danger mb-sm-2 d-print-none">データを削除</button>
                      <button commandFor="acceptable-data-dialog" command="show-modal" id="open-acceptable-data-dialog" type="button"
                        class="button button--dialog-open d-print-none">入力可能なデータ</button>
                      <%- include("./partials/dataTableDialog.ejs") -%>
          </div>
          <hr class="border-2">
          <!-- 地図とデータ変換部分を切り替えるタブ -->
          <ul class="nav nav-tabs px-2">
            <li class="nav-item d-print-none">
              <a class="nav-link border-dark-subtle border-2 border-start border-top border-end active"
                data-bs-toggle="tab" href="#map-content-pane">地図加工</a>
            </li>
            <li class="nav-item d-print-none">
              <a class="nav-link border-dark-subtle border-2 border-start border-top border-end" data-bs-toggle="tab"
                href="#data-convert-pane">データ変換</a>
            </li>
          </ul>
          <div class="tab-content px-2 d-print-none">
            <!-- 地図加工のタブ -->
            <div id="map-content-pane" class="tab-pane show active">
              <div class="tab-content-div p-2 mb-2 border border-2 border-dark-subtle">
                <div class="border-bottom border-dark-subtle border-2 mx-0 py-2 row align-items-center">
                  <label class="fs-6 col-4 col-form-label" for="select-marker-icon">地図に追加するアイコンの色</label>
                  <div class="col-8">
                    <select id="select-marker-icon" class="form-select border border-1 border-dark-subtle">
                      <option value="red">赤</option>
                      <option value="blue">青</option>
                      <option value="yellow">黄</option>
                      <option value="green">緑</option>
                      <option value="none">なし</option>
                    </select>
                  </div>
                </div>
                <div class="border-bottom border-dark-subtle border-2 mx-0 py-2 row align-items-center">
                  <label class="fs-6 col-4 col-form-label" for="select-line-color">地図に追加する線の有無と色</label>
                  <div class="col-8">
                    <select id="select-line-color" class="form-select border border-1 border-dark-subtle">
                      <option value="red">赤</option>
                      <option value="blue">青</option>
                      <option value="yellow">黄</option>
                      <option value="green">緑</option>
                      <option value="no">線無し</option>
                    </select>
                  </div>
                </div>
                <div class="border-bottom border-black py-2">
                  <button id="add-marker-btn" class="btn btn-primary my-1">アイコンの一括追加</button>
                  <p class="mb-1">データテーブルのデータに基づいてアイコンを追加します。</p>
                </div>
                <div class="border-bottom border-black py-2">
                  <button id="remove-marker-btn" class="button button--danger my-1">全図形を削除</button>
                  <p class="mb-1">地図に追加したアイコンなどを全て削除します</p>
                </div>
                <div class="border-bottom border-black py-2">
                  <p class="fs-6 mb-0">地図を右クリックすると次のことができます。</p>
                  <ul>
                    <li>円やアイコンを地図に追加。色は上で選んだ色になります。</li>
                    <li>任意の2点間の距離を計測</li>
                  </ul>
                  <p class="fs-6 mb-0">円やアイコンを右クリックすると次のことができます。</p>
                  <ul>
                    <li>円の中心点やアイコン同士の距離を計測</li>
                    <li>円やアイコンを削除</li>
                  </ul>
                </div>
                <div id="zoom-range-wrap" class="py-2">
                  <label for="zoom-range" class="">地図を引き伸ばす</label>
                  <input id="zoom-range" type="range" class="form-range" value="1" min="1" max="3" step="0.2"
                    list="zoom-range-markers" class="mt-1">
                  <output id="zoom-range-value" for="zoom-range">1x</output>
                  <datalist id="zoom-range-markers">
                    <option value="1"></option>
                    <option value="1.5"></option>
                    <option value="2"></option>
                    <option value="2.5"></option>
                    <option value="3"></option>
                  </datalist>
                </div>
              </div>
            </div>
            <!-- データ変換のタブ -->
            <div id="data-convert-pane" class="tab-pane show">
              <div class="tab-content-div mb-2 p-3 border border-2 border-dark-subtle">
                <p>変換条件と変換結果</p>
                <%- include("./partials/dataTypeSelect.ejs", { dataType: 'convert' }) %>
                  <hr class="border-2">
                  <%- include("./partials/geodeticSystem.ejs", { dataType: 'convert' }) %>
                    <hr class="border-2">
                    <%- include("./partials/zoneNoSelect.ejs", { select_id: "convert-zone-no" }) %>
                      <hr class="border-2">
                      <button id="data-convert-btn" type="button" class="btn btn-primary mb-3 d-print-none">変換</button>
                      <div id="converted-data-table" class="d-print-none"></div>
                      <p class="mb-3">表を右クリックして表示されるメニューからデータをコピーできます</p>
                      <button id="clear-converted-table-btn" type="button"
                        class="btn button--danger mb-3 d-print-none">データを削除</button>
                      <button id="export-csv-btn" type="button"
                        class="btn btn-primary mb-3 d-print-none">CSV形式でダウンロード</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="main-content">
          <div class="map-container">
            <div id="map" class="map"></div>
          </div>
          <div id="error-message-wrap" class="alert alert-danger visually-hidden" role="alert">
            <h4 class="alert-heading">エラーメッセージ</h4>
            <p id="error-message"></p>
          </div>
      </div>
      <%- include("./partials/help.ejs") %>
    </div>
    <%- include("./partials/footer.ejs", { page: 'toppage' }) %>
      <%- include("./partials/inputDiameterDialog.ejs") %>

        <script type="module" src="./js/index.ts"></script>
</body>

</html>
